spring:
  application:
    name: ecommerce
  sql:
    init:
      mode: always
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/db_ecommerce}
    username: ${DB_USERNAME:matheus}
    password: ${DB_PASSWORD:secret}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    defer-datasource-initialization: true
