spring:
  application:
    name: ecommerce
  sql:
    init:
      mode: always
  datasource:
    url: jdbc:postgresql://localhost:5432/db_ecommerce
    username: matheus
    password: secret
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    defer-datasource-initialization: true
